{% extends 'blog/base.html' %}

{% block content %}
  <main class="main-content section-wrapper">
    <div class="section-content-wide">
      <div class="section-gap">

        {% if posts %}
          <div class="card-grid">
            {% for post in posts %}
              {% include 'blog/partials/_post-card.html' with i=forloop.counter0 %}
            {% endfor %}
          </div>
          {% else %}
          <div class = "not-found center">
              <h1>😥 404 😥 </h1>
              <h2> 🚫Página não encontrada🚫</h2>
              <p>
                A página que você está procurando não foi encontrada.
                Seguir para 
                <a href="{% url 'blog:index' %}">Home</a>.
              </p>
          </div>
        {% endif %}

      </div>
    </div>
  </main>
{% endblock content %}